@import url(/css/global.css);

svg {
    width: 100%;
    height: auto;

}
.node rect {
    fill: var(--accent-color);
    stroke: var(--secondary-color);
    stroke-width: 2;
    cursor: pointer;
    transition: all 0.3s ease;
    
}
.node text {
    fill: var(--white-color);
    font-weight: bold;
    pointer-events: none;
    font-family: Arial, sans-serif;
    font-size: 12px;
}
.node:hover rect, .node:focus rect {
    fill: var(--white-color);
    stroke-width: 2;
    
    
}
.node:hover text {
    fill: var(--accent-color);
}

line {
    stroke: var(--text-color);
    stroke-width: 2;
}



